<mat-card class="profile">
    <div class="info">
        <img src="./assets/img/profile_man.png" alt="profile">
    <div class="column">
        <span><b>Max Mustermann</b></span>
        <span>maxmusterma&#64;web.de</span>
    </div>
    </div>
</mat-card>

<mat-card class="mt-16 address">
    <mat-card-title>
        Address
    </mat-card-title>
    <mat-card-content class="address-info">
        <span>Musterstraße 1</span>
        <span>Musterstadt</span>
    </mat-card-content>
</mat-card>