<mat-card class="profile">
    <div class="info">
        <img src="./assets/img/profile_man.png" alt="profile">
    <div class="column">
        <span><b>{{ user.firstName }} {{ user.lastName }}</b></span>
        <span>{{ user.email }}</span>
    </div>
    </div>
</mat-card>

<mat-card class="mt-16 address">
    <mat-card-title>
        Address
    </mat-card-title>
    <mat-card-content class="address-info">
        <span>{{ user.street }}</span>
        <span>{{ user.city }}</span>
    </mat-card-content>
</mat-card>